*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px 2px 2px;
    background-color: #ffc30f;
}
button{
   background-color: #001d30;
   border-radius: 50px;
   padding: 9px 25px;
   color: #ffc30f;
}


.home{
    background-color: #001d30;  
    height: 100%;
    padding :200px 200px 30px; 

}
 .home h1{
     color: #ffc30f;
     font-size: 80px;
     text-align: left;
     font-family: 'Jua', sans-serif;
  
 }
 .home p{
     color: rgb(230, 188, 38);
     position: relative;
     padding-bottom: 175px;
     font-family: 'Oswald', sans-serif;
     font-size: large;
 }
 .home button{
    background-color:#ffc30f;
    border-radius: 50px;
    padding: 9px 25px;
    color: #001d30;
    justify-content: end;
 }
 .dot{
     word-wrap: break-word;
     position: absolute;
     left: 125px;
     top: 200px;
 }
 .trangle{
     position: absolute;
     right: 100px;
     bottom: 0px;
 }
 @media screen and (max-width:480px) {
   .home h1{
       font-size: 40px;
       
   }
   .home p{
       display: flex;
       font-size: 10px;
       /* padding-bottom: 80px; */
   }
   .trangle{
     display: none;
   }
     
 }
 .whoami h1{
     font-size: 35px;
     color: #001d30;
     text-align: center;
     font-family: 'Jua', sans-serif;
 }
 .whoami span{
     color: #ffc30f;
     font-family: 'Jua', sans-serif;
 }
 .whoami{
     padding: 100px 30px 100px 30px;
     background-color: #dbf6e9;
     margin: auto;
     text-align: center;
 }
 .whoami p,ul{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
 }
 .whoami h3 {
    color: #001d30;
    text-align: center;
    font-family: 'Jua', sans-serif;
 }
 .row{
     display: flex;
    justify-content: space-between;
     margin-top: 5%;
 }
 .cols{
     background-color: #fff48f;
     border-radius: 10px;
     padding: 20px 10px;
     position: relative;
     overflow: hidden;
     flex-basis: 30%;
 }
 .cols img{
     height: 100px;
     margin-left: 20px;
     margin-left: 20px;
 }
 @media screen and (max-width:780px) {
     .whoami, .row{
         flex-direction: column;
         margin: 5px;
         
     }
     .cols{
         margin: 5px;
     }
 }
 .contactme{
     background-color: #dbf6e9;
     padding: 100px;
     height: 100%;
     font-size: 30px;
     color: #001d30;
     text-align: center
 }
 .contactme h1{
     padding-bottom: 50px;
     font-family: 'Jua', sans-serif;
 }
 .contactme p{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;

 }
 .contactme span{
    color: #ffc30f;
    font-family: 'Jua', sans-serif;
 }
 .inputs form input,textarea{
     padding: 20px;
     width: 60%;
     border-radius: 10px;
     margin: 10px;
 }
 .inputs button{
     display: inline-block;

 }
 footer{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2px 20px 2px 2px;
    background-color: #ffc30f;
}
footer img{
    width: 50px;
}
 